.detail {
  padding: 0 108px;
  display: flex;
  .article-aside {
    flex: 0 0 250px;
    background-color: #eeeeee;
    height: 100%;
    .article-title-list {
      list-style: none;
      padding: 0 12px;
      .article-title-item {
        height: 32px;
        line-height: 32px;
        margin: 8px 0;
        padding: 0 4px;
        background-color: #e0e0e0;
        color: #333333;
      }
    }
  }
  .article-detail {
    flex: 1;
    padding: 12px;
    border-bottom: #333333;
    .title {
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid #333333;
    }
    .content {
      padding: 18px 0;
      border-bottom: 1px solid #333333;
    }
  }
  .button-wrapper {
    margin-top: 18px;
    text-align: center;
    button {
      width: 86px;
      height: 32px;
      background-color: #bdbdbd;
      margin: 0 8px;
      border: none;
      outline: none;
      &.delete {
        background-color: #f48fb1;
      }
    }
  }
}