.header {
  position: relative;
  height: 32px;
  padding: 0 12px;
  align-items: center;
  background-color: #7986cb;
  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
  }
  .title {
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #ffffff;
  }
}