.home {
  padding: 0 108px;
  .article-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    list-style: none;
    .article-item, .create-article {
      flex: 0 0 100px;
      height: 150px;
      line-height: 150px;
      margin: 12px;
      background-color: red;
      box-shadow: 3px 3px 0 #9e9e9e;
      &:nth-child(odd) {
        background-color: #ffcdd2;
      }
      &:nth-child(even) {
        background-color: #bbdefb;
      }
      a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        height: 100%;
        width: 100%;
        color: #fff;
      }
    }
  }
}