.create-article {
  width: 560px;
  margin: 0 auto;
  .title {
    text-align: center;
    padding: 8px 0;
    margin-bottom: 18px;
    font-size: 18px;
    border-bottom: 1px solid #333333;
  }
  .article-title, .article-description {
    label {
      font-size: 14px;
    }
    .title-input, .description {
      width: 100%;
      margin-bottom: 18px;
      outline: none;
    }
    .title-input {
      height: 32px;
    }
    .description {
      height: 240px;
    }
  }
  .button-wrapper {
    text-align: center;
    button {
      width: 86px;
      height: 32px;
      background-color: #bdbdbd;
      margin: 0 8px;
      border: none;
      outline: none;
    }
    .submit {
      background-color: #f48fb1;
    }
  }
}